# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
courses/prog_base/kr/kr1/5/5.cbp
courses/prog_base/kr/kr1/5/5.layout
*.cbp
courses/prog_base/tasks/long2double/bin/Debug/ПЕТЯ.exe
courses/prog_base/labs/lab1/condition.c
courses/prog_base/tasks/long2double/repr.layout
courses/prog_base/tasks/long2double/obj/Debug/main.o
courses/prog_base/tasks/hello_world/hello.o
courses/prog_base/tasks/hello_world/a.exe
courses/prog_base/kr/kr1/6/obj/Debug/main.o
courses/prog_base/kr/kr1/6/bin/Debug/6.exe
courses/prog_base/tasks/hello_world/hello.exe
courses/prog_base/tasks/hello_world/hello.exe
courses/prog_base/tasks/console/main.o
courses/prog_base/tasks/long2double/bin/Debug/repr.exe
courses/prog_base/tasks/hello_world/hello.exe
courses/prog_base/labs/lab2/loops.o
courses/prog_base/labs/lab1/condition.exe
*.o
courses/prog_base/labs/lab1/math.c
courses/prog_base/labs/lab1/switch.c
courses/prog_base/labs/lab1/switch.c
courses/prog_base/labs/lab1/condition.c
courses/prog_base/tasks/hello_world/hello.exe
courses/prog_base/labs/lab1/condition.c
*.c
*.layout
*.exe
*.c
courses/prog_base/labs/lab1/math.c
